<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core.mapper.SystemMapper">	
	<insert id="addPlayGross">
		INSERT INTO `T_PLAY_HISTORY` (`ID`, `PLAY_GROSS`, `CRT_DATE`) 
		SELECT #{0} AS ID ,  SUM(T.PLAY_COUNT) ,#{1} AS 
		 'CRT_DATE' FROM T_VIDEO T
	</insert>
	
	<select id="getPlayGross" resultMap="playGrossMap">
		SELECT * FROM T_PLAY_HISTORY T ORDER BY T.CRT_DATE DESC LIMIT 10
	</select>
	
	
	<resultMap type="PlayGross" id="playGrossMap">
		<id column="id" property="id"/>
		<result column="play_gross" property="playGross"/>
		<result column="crt_date" property="crtDate"/>
	</resultMap>
</mapper>