<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core.mapper.ViewHistoryMapper">	
	<!--  查询单条记录  -->  
    <select id="getByUserIdAndVideoId" parameterType="string" resultMap="viewHistoryMap">  
       SELECT * FROM T_VIEW_HISTORY WHERE user_id = #{0} and video_id = #{1} 
    </select>  
    <insert id="add" parameterType="ViewHistory">
    	INSERT INTO `T_VIEW_HISTORY` (`id`, `video_id`, `user_id`, `crt_time`) VALUES (#{id}, #{videoId}, #{userId}, #{crtTime});
    </insert>
    
    <resultMap type="ViewHistory" id="viewHistoryMap">
    	<id column="id" property="id"/>
    	<result column="video_id" property="videoId"/>
    	<result column="user_id" property="userId"/>
    	<result column="crt_time" property="crtTime"/>
    </resultMap>
</mapper>